.content-box-container {
  border: 2px solid #000;
  border-radius: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: #f1fbea;
}

.content-box-container h2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 3.9rem;
  font-size: 2.5rem;
  font-weight: 600;
  background-color: #d6f1c4;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.content-box-table {
  width: 100%;
  border-collapse: collapse;
}

.content-box-table td {
  padding: 2rem 0.9rem 2rem 0;
  text-align: left;
  border-bottom: 1px solid #000;
  font-size: 1.25rem;
}

td:first-child {
  padding-left: 0.9rem;
}

td.medjournal-column:last-child {
  text-align: center;
}

td.year-column {
  width: 24%;
}

tr:nth-child(2) > td.year-column {
  font-weight: 600;
  color: #000;
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

tr:last-child td {
  border-bottom: none;
}

/* tr:nth-child(2) img {
  display: none;
} */

.content-box-table th {
  font-weight: 600;
  color: #000;
  font-size: 1.5rem;
  border-bottom: 1px solid #000;
  text-align: left;
  padding-right: 0.5rem;
}

th:nth-child(6) {
  min-width: 10rem;
}

.patient-column {
  font-weight: 600;
}

@media (max-width: 834px) {
  .content-box-container h2 {
    font-size: 2rem;
  }

  .content-box-table th,
  tr:nth-child(2) > td.year-column {
    font-size: 1.25rem;
  }

  .content-box-table td {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .content-box-container {
    margin-top: 1.69rem;
    border: none;
    border-top: 2px solid #000;
    border-radius: 0;
    width: 100%;
  }

  .content-box-container h2 {
    font-size: 1.5rem;
  }

  .content-box-container h2,
  th.year-column,
  tr:nth-child(2) > td.year-column {
    border-radius: 0;
    padding: 2rem 1.25rem;
    margin: 0;
  }

  .content-box-table th:not(.year-column) {
    display: none;
  }

  .content-box-table .content-box-table tr {
    display: block;
  }

  .content-box-table tr {
    border-bottom: 1px solid #000;
  }

  .content-box-table td {
    display: block;
    width: 100%;
    border: none;
    padding: 0 1.25rem 1.25rem;
  }

  td:first-child {
    text-align: right;
    padding-top: 1.25rem;
  }

  td:empty {
    display: none;
  }

  td.medjournal-column {
    visibility: hidden;
  }
}
