@import "../../App.css";

.dashboard {
  width: 28%;
  min-width: 16rem;
  height: 100vh;
  padding: 2rem;
  background-color: var(--base-shadow);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.3s ease;
  .dashboard-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: var(--font-size-medium);
      margin-bottom: 1rem;
      font-weight: 600;
    }
    /* FIX ALIGNMENT! */
    button {
      display: none;
      /* font-size: 3rem;
      border: none;
      background-color: transparent;
      text-align: center; */
    }
  }

  hr {
    height: 2px;
    background-color: var(--accent-color);
    border: none;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1.5rem;
    font-size: var(--font-size-small);
    font-weight: 300;
    .dashboard-list-item {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.dashboard.open {
  transform: translateX(0);
}

@media (max-width: 834px) {
  .dashboard {
    transform: translateX(-100%);
}
}

@media (max-width: 425px) {

}

