@import "../../App.css";

.navbar2 {
  background-color: var(--secondary-color);
  padding: 1rem 0;
}

.navbar2-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  max-width: 90rem; 
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar2-logout {
    position: absolute;
    width: 8rem;
    height: 2.5rem;
    left: 1.25rem;
    top: 5rem;
    background-color: var(--accent-color);
    color: white;
}