.navbar {
  background-color: var(--secondary-color);
  padding: 1rem 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  max-width: 90rem; 
  margin: 0 auto;
  padding: 0 2rem;
}