@import "../../App.css";

.patientwidgets-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 2rem;
  margin-top: 1.5rem;
}

/* TABLET: ______________________________ */
@media (max-width: 834px) {
  .patientwidgets-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 2rem;
    margin-top: 1.5rem;
  }
}

/* MOBILE: ______________________________ */
@media (max-width: 425px) {
  .patientwidgets-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 2rem;
    margin-top: 1.5rem;
  }
}
