@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: black;
  --accent-color: #106a51;
  --secondary-color: #d6f1c4;
  --secondary-light: #f1fbea;
  --base-shadow: #f5f5eb;
  --background-color: #ffffff;

  --font-size-large: 5.25rem;
  --font-size-large-tablet: 4.75rem;
  --font-size-large-mobile: 3.5rem;

  --font-size-medium: 2rem;
  --font-size-medium-tablet: 1.75rem;
  --font-size-medium-mobile: 1.5rem;

  --font-size-small: 1.25rem;
  --font-size-small-mobile: 1rem;

  --font-size-x-small: 1rem;
  --font-size-x-small-mobile: 0.8rem;

  --font-weight-semi-bold: 600;
  --font-weight-button: 500;
  --font-weight-regular: 300;

  /* font-family: "Raleway", sans-serif; */
}

body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  margin: 0;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  min-height: 100vh;
  transition: 0.3s ease;
}

.right-side {
  flex-grow: 1;
  padding: 2rem;
  width: calc(100% - 26%);
  transition: 0.3s ease;
}

@media (max-width: 834px) {
  .main-content {
    margin-left: 0;
  }
  .right-side {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .right-side {
    padding: 0;
  }
}
