@import "../../App.css";

.main-heading {
  h2 {
    margin-top: 2rem;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semi-bold);
  }
  h3 {
    font-size: var(--font-size-medium);
    margin-bottom: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
  }
}

@media (max-width: 834px) {
  .main-heading {
    h2 {
      font-size: var(--font-size-large-tablet);
    }
    h3 {
      font-size: var(--font-size-medium-tablet);
    }
  }
}

@media (max-width: 425px) {
  .main-heading {
    h2 {
      margin-top: 1.5rem;
      font-size: var(--font-size-large-mobile);
    }
    h3 {
      font-size: var(--font-size-medium-mobile);
    }
  }
}
