@import "../../App.css";

.main-heading {
    h2 {
        margin-top: 2rem;
        font-size: var(--font-size-large);
        font-weight: 600;
    }
    h3 {
        font-size: var(--font-size-medium);
        margin-bottom: 1.5rem;
        font-weight: 600;
    }
}