.new-visit-heading {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem 0;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.form-left-side,
.form-right-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-left-side label,
.form-right-side label {
  font-size: 1.25rem;
  padding: 0.625rem 0;
}

.form-left-side input,
.form-right-side input {
  max-width: 24.6rem;
  height: 3.5rem;
  background-color: #f5f5eb;
  border: none;
  border-radius: 0.625rem;
}

.new-visit-input::placeholder {
  padding-left: 1.5rem;
  font-size: 1rem;
}

.new-visit-input:focus {
  outline: 2px solid #106a51;
  padding-left: 1.5rem;
}

.new-visit-input:focus::placeholder {
  color: transparent;
}

.confirm-btn {
  width: 9.3rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.6rem;
  background: #106a51;
  color: white;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 2rem;
}

.confirm-btn:hover {
  cursor: pointer;
}

@media (max-width: 834px) {
  .new-visit-heading {
    font-size: 2rem;
  }

  .form-left-side,
  .form-right-side {
    width: 100%;
  }

  .confirm-btn {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .new-visit-heading {
    padding-left: 1.25rem;
    font-size: 1.5rem;
  }

  .form-container {
    flex-direction: column;
    padding: 0 1.25rem;
    gap: 0;
  }

  .form-left-side label,
  .form-right-side label {
    font-size: 1rem;
  }

  .new-visit-input::placeholder {
    font-size: 0.875rem;
  }

  .confirm-btn {
    margin: 1.25rem 0 2rem 1.25rem;
  }
}
