.go-back-button {
  font-size: 1rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.69rem 0;
}

a {
  text-decoration: none;
}

.back-arrow {
  margin-right: 0.69rem;
}

@media (max-width: 425px) {
  .go-back-button {
    display: none;
  }
}
